<p>
<strong>Title:   </strong> <%= @assignment.title %>
</p>

<p>
<strong>Description:   </strong><%= @assignment.description %>
</p>

<p>
<strong>Attachment:   </strong><a href="#"><%= @assignment.attachment %></a>
</p>