<p id="notice"><%= notice %></p>

<% if !current_user.present? %>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">

    <%= link_to image_tag('certified.out_logo.png'), root_path %>
    </div>
    <ul class="nav navbar-nav">

    <%= link_to "Login", new_session_path, class: "btn btn-light" %>

    </ul>


    </div>
  </nav>
  <% end %>
  
<div class="home-bg">
<div class="home-text">

  <h1 class="home-h1">Manage your classes.</h1>

  <p class="home-p">
  Certified.Out is a REVOLUTIONARY student attendance and marks management system built by the amazingly talented team of Full Stack Web Developers in cohort 34 at Codecore! Make your student management issues a thing of the past with this easy-to-use and wonderfully efficient web application by giving it a try TODAY!!!
  </p>
</div>
</div>
