@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Alata|Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Public+Sans&display=swap');

body {
  background-color: rgb(211, 211, 211);
  font-family: 'Public Sans', sans-serif;
}

.window-container {
  position: relative;
  min-height: 100vh;
}


.body-container {
  padding: 2em;

}

.btn.btn-light {

  text-decoration: none;
  border-radius: 0px;
  height: inherit;
  color: #64182F;
  background-color: white;
}

a.btn.btn-light {
  padding-top: 3em;
}

.nav-link:hover {
  color: #64182F;
  text-decoration: none;
}

a {
  color: #64182F;
  text-decoration: none;
}

a:hover {
  color: #64182F;
  text-decoration: none;
}



.navbar.navbar-default {
  display: flex;

  color: #64182F;
  flex-direction: row;
  justify-content: right;
}


.login-nav {
  display: flex;
  justify-content: right;
}

.nav.navbar-nav {
  display: flex;
  flex-direction: row;
  width: auto;
  height: 122px;
  justify-content: flex-end;
  background-color: white;
  align-content: center;
}

.sign-in-container {
  display: flex;
  justify-content: center;
  padding-top: 15%;
}

.form-container {
  display: flex;
  // background-color: white;
  height: 18em;
  width: 45em;
  justify-content: center;
  align-content: center;
  padding-bottom: 2em;
  padding-top: 2em;
  flex-direction: row;
}

.form-logo {
  display: flex;
  height: 144px;
  width: auto;
  padding-top: 25px;
}

.background-img-container {
  background: url('log-in-background');
  background-size: cover;
  min-height: 100vh;

}


.btn-maroon {
  width: 153px;
  height: 50px;
  background: #64182F;
  border-radius: 25px;
  color: white;
  text-align: center;
}



.btn-maroon:hover {
  background-color: white;
  color: maroon;
  border: 1px solid #64182F;
}


.footer-copyright.text-center.py-3 {
  background-color: #64182F;
  color: white;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.footer-link {
  color: white;
}

.footer-link:hover {
  color: white;
}

.user-show {
  padding: 5px 30px;
}

#profile-photo {
  width: 250px;
  height: auto;
}

#user-info {
  text-align: left;
}

  .home-bg {
  background: url('home-bg');
  background-size: cover;
  min-height: 100vh;
  filter: grayscale(60%);
  display: flex;
  flex-direction: column;

}

.home-h1 {
  color: white;
  padding-left: 1.6em;
  padding-bottom: 1em;
  padding-top: 3em;
  font-family: 'Alata', sans-serif;
  font-size: 3em;
}

.home-p {
  color: whitesmoke;
  padding: 3em;
  font-size: 1.5em;
  font-family: 'Lato', sans-serif;

}

.home-text {
  background-color: rgba(0, 0, 0, 0.308);
  min-height: inherit;
}

.active {
  color: green;
}

.inactive {
  color: red;
}

.change-password-link {
  color: black;
}

.btn.btn-secondary.btn-sm {
  background-color: #64182F;
}

th, td {
  text-align: center;
}