@import "bootstrap";

body {
  background-color: silver;
}

.btn.btn-light {
  text-decoration: none;
  border-radius: 0px;
  height: 5em;
  color: #64182F;
  background-color: white;
}

.sign-in-nav {
  display: flex;
  flex-direction: row;
  justify-items: right;
}

.nav-link:hover {
  color: #64182F;
  text-decoration: none;
}

a {
  color: #64182F;
  text-decoration: none;
}

.navbar.navbar-default {
  display: flex;

  color: #64182F;
  flex-direction: row;
}


.nav.navbar-nav {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-evenly;
  background-color: white;
}

.sign-in-container {
display: flex;
justify-content: center;
padding-top: 15%;
}

.form-container {
  display: flex;
  // background-color: white;
  height: 18em;
  width: 45em;
  justify-content: center;
  align-content: center;
  padding-bottom: 2em;
  padding-top: 2em;
  flex-direction: row;
}
.form-logo {
  display: flex;
  height: 144px;
  width: auto;
  padding-top: 25px;
}

.background-img-container {
  background: url('log-in-background'); 
  background-size: cover;
  min-height: 100vh;

}


.btn {
  width: 153px;
  height: 50px;
  background: #64182F;
  border-radius: 25px;
  color: white;

}

.btn:hover {
  background-color: white;
  color: maroon;
  border: 1px solid #64182F;
}


