@import "bootstrap";

body {
  background-color: silver;
}

.btn.btn-light {
  text-decoration: none;
  border-radius: 0px;
  height: 5em;
  color: #64182F;
  background-color: white;
}

// .btn.btn-light:hover {
//   color: white;
//   background-color: #64182F;
// }

.nav-link:hover {
  color: #64182F;
  text-decoration: none;
}

a {
  color: #64182F;
  text-decoration: none;
}

a:hover {
  color: #64182F;
  text-decoration: none;
}

.navbar.navbar-default {
  display: flex;

  color: #64182F;
  flex-direction: row;
  justify-content: right;
}
.login-nav {
  display: flex;
  justify-content: right;
}


.nav.navbar-nav {
  display: flex;
  flex-direction: row;
  width: 75%;
  height: 124px;
  justify-content: flex-end;
  background-color: white;
  align-items: center;
}

.sign-in-container {
display: flex;
justify-content: center;
padding-top: 15%;
}

.form-container {
  display: flex;
  // background-color: white;
  height: 18em;
  width: 45em;
  justify-content: center;
  align-content: center;
  padding-bottom: 2em;
  padding-top: 2em;
  flex-direction: row;
}
.form-logo {
  display: flex;
  height: 144px;
  width: auto;
  padding-top: 25px;
}

.background-img-container {
  background: url('log-in-background'); 
  background-size: cover;
  min-height: 100vh;

}


.btn {
  width: 153px;
  height: 50px;
  background: #64182F;
  border-radius: 25px;
  color: white;

}

.btn:hover {
  background-color: white;
  color: maroon;
  border: 1px solid #64182F;
}


.footer-copyright.text-center.py-3 {
  background-color: #64182F;
  color: white;
}

.footer-link {
  color: white;
}

.footer-link:hover {
  color: white;
}